.search {
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
}

input[type="text"] {
  width: 100%;
  border: none;
  font-size: 15px;
  color: #333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.next-button {
  position: fixed;
  bottom: 0px;
  left: 0%;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0px;
}

.data-result-block,
.recent-listen-block {
  width: 100%;
  height: 100%;
  box-sizing: border-bo;
}

.data-result-block h2,
.recent-listen-block h2 {
  margin: 0 0 0px;
  font-size: 17px;
  color: #333;
  text-align: left;
}
.data-result,
.recent-listen {
  margin-top: 20px;
  margin-bottom: 50px;
}
.data-item {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.data-item:hover {
  transform: translateY(-10px);
  outline: 3px solid black;
  outline-offset: -3px;
}

.data-item img {
  object-fit: cover;
}
.title {
  padding-left: 5px;
  font-weight: 500;
  font-size: small;
}
.songDetails,
.recentListenDetails {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.songTitle,
.recentListenTitle {
  margin: 0;
}

.artistName,
.recentListenArtist {
  margin: 0;
}
auth {
  text-decoration: underline;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 20px;
}

.loader span {
  margin-left: 10px;
}

.clear-input {
  background: none;
  border: 0;
  padding: 0 10px;
  cursor: pointer;
  color: #999;
  font-size: 14px;
}

.tab-selection {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px;
}

.tab-selection button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  color: #262626;
  margin: 0 10px;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  outline: none;
}

.tab-selection button:hover,
.tab-selection button:focus {
  border-bottom: 2px solid #262626;
}

.tab-selection .active-tab {
  font-weight: 600;
  border-bottom: 2px solid #262626;
}

.selected-song {
  outline: 3px solid black;
  outline-offset: -3px;
  background-color: #f0f0f0; /* Or any highlight color you prefer */
}
