.LogoPostAndProfile {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 4vh;
    padding-bottom: 2vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.LogoText {
    font-size: 1.5rem;
    font-weight: bold;
}

.SquareButton1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 4vh;

    background-color: lightgray;
    border-radius: 10px;

    text-align: center;
    font-size: small;
}

.BrowseAndMapRow {
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 0vh;
    padding-bottom: 4vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    gap: 0;
}

.SquareButton2 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 1rem;

    text-align: center;
    font-size: medium;
}