
 .song-preview {
  display: flex;
  align-items: center;
  background-color: #ffffff; 
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.song-preview:hover {
  background-color: #f2f2f2;
}

.song-details {
  display: flex;
  align-items: center;
  flex: 1;
}

.song-image-container {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 15px;
}

.song-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.song-icon-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0;
  transition: opacity 0.3s ease;
}

.song-image-container:hover .song-icon-container {
  opacity: 1;
}

.song-icon-container svg {
  width: 24px;
  height: 24px;
  color: white;
}

.song-info {
  flex: 1;
  width: 200px; 
  overflow: hidden;
}

.song-name {
  font-size: 1rem;
  font-weight: bold;
  text-align: left; 
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-artist {
  font-size: 0.8rem;
  text-align: left; 
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
  
  