.post {
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 2vh auto; 
  background-color: #ffffff;
  width: 100%;
  max-width: 360px; 
  overflow: hidden; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.post-image-wrapper {
  width: 100%; 
  height: 300px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
}

.post-image {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: cover; 
}


  .post-header {
    display: flex;
    align-items: center;
    padding: 0px;
  }
  
  .meatball{
    display: flex;
    justify-content: flex-end;  
    margin-right:10px;
    margin-left: auto;  
  }
  
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px; 
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    color: #8e8e8e;
  }

  .song {
    justify-content: normal;
    align-items: center;
    padding: 2px;
    background-color: #F8F8F8;
    font-weight: bold;
    color: #555555;
    border-top: 1px solid #dbdbdb; 
    border-bottom: 1px solid #dbdbdb; 
  }
  #like-button{
    right: 0px;
    font-size: 16px;
    color: #333;
    background:transparent;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    padding:0;
  }

  #play-button{
    left: 0px;
    font-size: 16px;
    color: #333;
    border: none;
    margin-left: 0;
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 0;
  }
  
  .location-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px; 
  background-color: #f7f7f7; 
  border-top: 1px solid #dbdbdb; 
  border-bottom: 1px solid #dbdbdb; 
}
  .place_name {
    font-size: 20px;
    font-weight: bold;
}
  
.place_address {
    font-size: 13px;
    font-weight: normal;
}