.Title {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(0.75rem + 1vmin); /* smaller font size */
    color: white;
  }
  