.Title{
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.Button{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    font-size: calc(10px + 1vmin);
    color: white;
}