.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.location-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px 10px;
    
}
  
.back-link {
    
    color: #333;
    font-size: 16px;
    padding: 0 20px;
    text-decoration: underline;
}

.favorite-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 4vh;

    background-color: lightgray;
    border-radius: 10px;

    text-align: center;
    font-size: small;
}
  
  
.location-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
  
.location-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
  
.locationName {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}
  
.locationAddress {
    font-size: 16px;
    font-weight: normal;
}

.location-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  

.switch-container{
    margin-top:50px; 
    margin-left:40px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .switch-input:checked + .slider {
    background-color: #2196f3;
  }
  
  .switch-input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .switch-container {
    display: flex;
    align-items: center;
  }
  
  .toggle-label {
    margin-left: 1rem;
  }
  
  
  
  
  
    
    
    