.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add this line to center the container */
  margin: 5px;
  height: 100vh; /* Add this line to set the container to full height */
}

 .buttonContainer{
    display: flex;
   justify-content: center;
   padding: 10px;

}

.filter{
    padding-right: 20px;
    
}

.favorite{
    padding-left: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  height: 80%;
  max-height: 600px;
  background-color: white;
  z-index: 1;
  overflow: auto;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

  .autocomplete-container {
    width: 90%;
    margin: 20px 0;
  }
  
  .autocomplete-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 16px;
  }
  
  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    font-size: 24px;
    color: #444444;
  }

  .gm-style-iw div * {     
    overflow: hidden !important;     
    line-height: 1.35em; 
  } 

  button.gm-ui-hover-effect {
    visibility: hidden;
}
  
  .infowindow-container {
    height: 100%; 
    width: 100%; 
    font-family: Arial, sans-serif;
  }
  
  
  @media only screen and (min-width: 375px) and (max-width: 812px) {
    /* iPhone 12 Pro portrait mode */
    .map-container {
      height: 100%;
      overflow: hidden;
    }
    
    .autocomplete-container {
      width: 100%;
      margin: 10px 0;
    }
    
    .autocomplete-input {
      font-size: 18px;
    }
    
    .loading-container {
      font-size: 28px;
    }
  }
  
  
