.Title {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(0.75rem + 1vmin); /* smaller font size */
  color: white;
}

.Button {
  position: fixed;
  bottom: 30px;
  left:50%;
  transform: translateX(-50%);
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 1px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.ReturnButton{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
}