.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 5px;
    }
  
  .user-header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 90vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 4vh;
    padding-bottom: 2vh;
  }
  
  .loading-message{
    margin-top:2rem; 
  }
  
  .back-link {
    padding: 0 20px;
    text-decoration: underline;
    font-size: 20;
  }
  
  .settings-link {
  
    color: #333;
    font-size: 16px;
    padding: 0 20px;
    text-decoration: underline;
  
  }
  
  .friends-link {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    text-decoration: underline;
  }
  
  
  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .user-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .username {
    margin-top: 20px;
    font-size: 24px;
  }
  
  
  .user-posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2vh;
    column-count: 1;
    align-items: center; 
  }

  .no-data-message {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  .no-data-message p {
    margin: 40;
  }
  
  .no-data-message button {
    background-color: #1b1c1b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  

  
  
  
  