.Browse {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
}

.Browse-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2vh;
    column-count: 1;
}